.mainHomePage{
    display: flex;
    justify-content: center;
    flex-direction: column;
  
}
.largeWidthLyrics{
    width: 100%;
    display: flex;
    justify-content: center;
}
.center{
    width:50%;
    margin: auto;
}